/**useful
#cfe4ff lt blue
#fed7c8 pink
#051876 navy
#f6f6f6 gray
#e1cfff violet**/
* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #051876;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body{
  font-family: "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 19px;
  color:#051876;
  /*background: #ddd;*/
  /*color: #221e1f;*/

}

/**header**/
.logo a{
  /*height: 150px;*/
  width: 100px;
  background-color: powderblue;
}

header{
  width: 50%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.symbol {
  padding-bottom: 50px;
  width: 10%;
  display: block;
  max-width: 0px;
}
.navbar-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 10000;
}
.navbar-logo img {
  max-width: 85px;
  margin-left: 15px;
}

h1 a:hover { 
	text-align: center; padding: 10px 0 0 0; font-size: 1.1em; 
}

/**hero image**/
.rotating-art {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg_water.png);
  height: 700px;
  background-position: center center;
  /*margin-left: 250px;*/
  padding: 20px;
  background-color: #fff;
}

/**about me section* */

#middle-about{
	color: #f79e7c;
	font: lighter 30px "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
	display: block;
	padding: 15px 0px;
	text-align: center;
  cursor: pointer;
}

.inner-wrapper {
	margin: auto;
  width: 80%;
  align-content: center;
  /*background-color: #fed7c8;*/
  
}

section#content {
  text-align: center;
  padding: 150px 0px;
  background-color: #ffefe5;
  display: block;
  color: #f79e7c;
  font-size: 18px;
  line-height: 40px;
}

/**project section**/

/**main body section**/
/*body{
	background-color: #c6c6c6;
  }*/

   .project-tiles{
    width: 100%;
    /*background:pink;*/
    display:inline-block;
    overflow: hidden;
    padding: 1% 0 0 6%;
    }

  #tiles {
    content: '';
    background-color: white;
    float: left;
    padding: 5px;
    margin: 10px 20px 100px;
    width: 100%;
    max-width: auto;
    display: block;
  }

  .first-card-wrapper {
   background-color: #f6f6f6;
   width: 400px;
   /*height: 400px;*/
   float: left;
   margin: 10px;
   align-items: center;
 }

 .art-buttons {
  font: lighter 15px "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  width:50%; 
  margin-top:50%;
  margin-bottom: 43%;
  margin-left: 25%;
  position:relative;
  border:none;
  background-color: transparent;
  color: white;
  align: center;
  overflow: hidden;
}
.button-container{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
.view-more-button{
  font: lighter 15px "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16pt;
  letter-spacing: .75pt;
  margin: 60px 0px 0px;
  border-bottom:1px solid #f79e7c;
  border-top: 1px solid transparent;
  border-left: transparent;
  border-right: transparent;
  width:auto;
  background:none;
}

    /**project page**/
   

    .button.top{
     position: absolute;
     left: 7px;
     top: 7px;
     width: 100%;
     height: 100%;
     background-color: #2acdc1;
     display: block;
     -webkit-transition: all .15s ease-out;
     -moz-transition: all .15s ease-out;
     -o-transition: all .15s ease-out;
     transition: all .15s ease-out;
   }

   .project-rows{
    /*border: 2px solid #051876;*/

  }
  .first-card-inside{
    background-image: url(../images/first-card.jpg);
    background-size: 400px 400px;
  }
  .second-card-inside{
    background-image: url(../images/second-card-one.jpg);
    background-size: 400px 400px;
  }
  .third-card-inside{
    background-image: url(../images/third-card-one.jpg);
    background-size: 400px 400px;
  }
  .fourth-card-inside{
    background-image: url(../images/fourth-card-one.jpg);
    background-size: 400px 400px;
  }
  .fifth-card-inside{
    background-image: url(../images/fifth-card-one.jpg);
    background-size: 400px 400px;
  }    
  .sixth-card-inside{
    background-image: url(../images/sixth-card-one.jpg);
    background-size: 400px 400px;
  }  
  .seventh-card-inside{
    background-image: url(../images/seventh-card-one.jpg);
    background-size: 400px 400px;
  }
  .eigth-card-inside{
    background-image: url(../images/eigth-card-one.jpg);
    background-size: 400px 400px;
  }    
  .ninth-card-inside{
    background-image: url(../images/10-card-one.jpg);
    background-size: 400px 400px;
  }  

  /**calendar page**/

  /**slider**/
 

 .main-calendar{
  background-size: 800px;
  display: block;
  margin-top: 5%;
}
#main {
  padding: 0em 0 6em 0 ;
  background-size: 800px;
}
.calendar-page {
  background-color: #f6f6f6;
  width: 800px;
  height: 600px;
  /*float: left;*/
  margin: 5%;
  align-items: center;
}

.first-card-calendar{
  background-image: url(../images/first-card.jpg);
  background-size: 100%;
  width: 800px;
  background-repeat: no-repeat;
  /*border: 2px solid green;*/
}
.second-card-calendar{
  background-image: url(../images/first-card-one.jpg);
  background-size: 400px 400px;
}
.slider {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}
.slider img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}
.slide {
  display: none;
}
.slide.active {
  display: block;
}
h1 {
  /*font-family: "lato", Helvetica, sans-serif;  font-size: 2.75em;*/
  font-weight: 200;
  line-height: 1.3;
  letter-spacing: 10pt;
  margin: 0 1em 1em .5em;
  letter-spacing: -0.035em;
  margin-top: 50px;
  text-align: center;
}
h2 {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 1em 2em 1em;
  letter-spacing: -0.035em;
}  
p {
  margin: 0 3em 2em 3em;
}
@media only screen and (max-width: 736px) {
  .image.main {
    margin: 0 0 2em 0;
  }

}
/**image rotator**/
#switcher {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 15px 15px 0;
  border-radius: 20px;
  border: 2px solid #fed7c8;
  cursor: pointer;
}

.rotator-container{
  margin-left: 45%;

}

#switcher li.active {
  border-color:#051876;
}

#grayButton {
  background-color: white;
}
#whiteButton {
  background-color: white;
}
#blueButton {
  background-color: white;
}
#yellowButton {
  background-color: white;
}

/**hamburger**/
header {
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  padding:0 20px;
  position: relative;
  z-index: 9999;
}

@media only screen and (max-width: 5000px) {
  header {
    height: 75px;
  }
}

header .logo {
  float: left;
  line-height: 73px;
}

header .logo h1 {
  margin:0;
}

@media only screen and (max-width: 5000px) {
  header .logo {
    line-height: 60px;
  }
}


header .main-nav {
  float: right;
}

header nav {
  position: relative;
  z-index: 100;
  line-height: 80px;
}

@media only screen and (max-width: 5000px) {
  header nav {
    position: fixed;
    top:0;
    left:100%;
    background: hsla(240,2%,92%,.95);
    width: 100%;
    height: 100%;
    padding:20px 0;
  }
}

header nav ul {
  list-style: none;
  overflow: hidden;
  text-decoration: none;
}
header nav ul li {
  display: inline-block;
  height: 30px;
  margin-left: 20px;
}

@media only screen and (max-width: 5000px) {
  header nav ul li {
    height: auto;
    display: block;
    color:#fff;
    text-align: center;
    margin-left: 0px;
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: 10.3pt; 
    color: #231f20;
    text-transform: uppercase;
    font-size: 25pt;
    padding: 10px 0;
    display: block;
  }
}

header nav .close-nav {
  position: absolute;
  top:50px;
  right:30px;
  z-index: 90;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 5000px) {
  header nav .close-nav {
    display: block;
  }
}

header nav .close-nav .left {
  display: block;
  width: 50px;
  height:2px;
  background-color: #fed7c8;
  transform: rotate(45deg) translate(2px);
  -webkit-transform: rotate(45deg) translate(2px);
  -moz-transform: rotate(45deg) translate(2px);
}

header nav .close-nav .right {
  display: block;
  width: 50px;
  height:2px;
  background-color: #fed7c8;
  transform: rotate(-45deg) translate(2px);
  -webkit-transform: rotate(-45deg) translate(2px);
  -moz-transform: rotate(-45deg) translate(2px);
}

.hamburger {
  position: fixed;
  top:20px;
  right:35px;
  z-index: 90;
  display: none;
}


@media only screen and (max-width: 5000px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

.burger-bread{
  padding-bottom: 2px;
  width: 10%;
  display: block;
  margin: 10px 40px;
}
.hamburger span {
  display: block;
  width: 50px;
  /*height:5px;*/
  background-color: #fed7c8;
  margin:12px 0;
}

/* Footer */
/*footer{
  position:absolute;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
   }*/

#footer {
  overflow: hidden;
  clear: both;
  background-color: #f6f6f6;
  padding: 5% 7%;
  width: 100%;
  margin: auto;
  position: relative;
}
#bottom-contact{
  color: #051876;
  font: lighter 30px "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  display: block;
  padding: 15px 20px;
  text-align: left; 

}
input, textarea {
  color: #585858;
  font-family: "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.75;
  padding: 5px 30px;
  margin: 10px 20px;
}
#message{
  width: 50%;
  height:100px;
}

#getintouch {
  border: 2px solid #04049d;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  display: block; /* change this from inline-block */
  width:20%; /* setting the width */
  margin:0 auto;  
  padding: 10px 30px;
  /*margin-left: 20px;*/
  margin: 30px 0px 60px 20px;
  position:relative;
  font: lighter 15px "Monaco", "Helvetica Neue Light", Helvetica, sans-serif;
  cursor: pointer;
}
 /*a:visited {
    color: #051876;
    }*/

/* Icon */

.icon-footer{
  width:100%; 
  margin:auto; 
}

.icons li{
 display:block; 
 float: left; 
 width:33.3%; 
 text-align:center; 
 margin: 0 auto;
 /*background-color: #fff;*/
}


